options -indexes

RewriteEngine On

RewriteRule ^live-data$  ./endpoint.php?action=live-data [L]
RewriteRule ^prediction$ ./endpoint.php?action=prediction [L]
RewriteRule ^prices$     ./endpoint.php?action=prices [L]
RewriteRule ^registry$   ./endpoint.php?action=registry [L]
RewriteRule ^settings$   ./endpoint.php?action=settings [L]
RewriteRule ^versions$   ./endpoint.php?action=versions [L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
