Options -Indexes -MultiViews

RewriteEngine On

RewriteRule ^connection$  ./endpoint.php?action=connection [L]
RewriteRule ^charge$      ./endpoint.php?action=charge [L]
RewriteRule ^live-data$   ./endpoint.php?action=live-data [QSA,L]
RewriteRule ^output$      ./endpoint.php?action=output [L]
RewriteRule ^prediction$  ./endpoint.php?action=prediction [L]
RewriteRule ^prices$      ./endpoint.php?action=prices [L]
RewriteRule ^real-data$   ./endpoint.php?action=real-data [QSA,L]
RewriteRule ^registry$    ./endpoint.php?action=registry [L]
RewriteRule ^settings$    ./endpoint.php?action=settings [L]
RewriteRule ^temperature$ ./endpoint.php?action=temperature [L]
RewriteRule ^thermo$      ./endpoint.php?action=thermo [L]
RewriteRule ^versions$    ./endpoint.php?action=versions [L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
